
 <div class="table-responsive">
  <table class="table table-bordered">           
            <tbody>
                <tr>
                 <td><%= @assignment.content %></td>
                </tr>
            </tbody>
        </table>
 </div>
