<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Claim Details</h2>
      </div>
      <div class="box-content">
      <% if @claims.empty? %>
<h4 align="center">No Claim Record Found </h4>
<% else %>
        <table id="datatable" class="table table-striped table-bordered responsive">
          <thead>
           <tr>
            <th>Course and Batch</th>
            <th>Claim Name</th>
            <th>Claim Quantity</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <% @claims.each_with_index do |s| %>
          <tr>
           <td><%=s.batch.course.course_name.capitalize+""+s.batch.course.section_name.capitalize+" "+s.batch.name.capitalize%></td>
           <td> <%=s.claim_item%></td>
           <td> <%=s.claim_quantity%></td>
           <td> <%=s.comment %></td>
         </tr>

         <% end %>
       </tbody>
     </table>
   </div>
 </div>
</div>
</div>
<% end %>

