


    <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #1F618D">
<div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #1F618D">
       <span style="font-size:50px; font-weight:bold">Certificate of Participation</span>
       <br><br>
       <span style="font-size:25px"><i>This is to certify that</i></span>
       <br><br>
       <span style="font-size:30px"><b><%= @student.stud_full_name %></b></span><br/><br/>
       <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
       <span style="font-size:30px"> <%= @student.batch.course.course_name %> <%= @student.batch.name %></span> <br/><br/>
       <span style="font-size:20px">Participated in exam/sports<b>---------------------</b></span>
        <span style="font-size:20px">has ranked<b>----------------------</b> 
         <span style="font-size:20px">on date<b>---------------------</b> <br/><br/><br/><br/>
       <span style="font-size:20px">  ------------------------------------------ <br>
      Signature of the Principle/Head of the Institute
 (With stamp/seal)</b></span> <br/><br/>
  
</div>
</div>
