<div class="row">
 <div class="box col-md-2"></div>
  <div class="box col-md-6">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Employee Profile</h2>
    </div>

    <div class="box-content">
    <fieldset>
  <div class="row">
  

          <br>
          <div class="form-group">
          <div class="col-sm-4"><b> Name:</b></div>
          <div class="col-sm-8"><%= @employee.first_name+' '+@employee.last_name  %></div>
          </div>

          <br>

          <div class="form-group">
          <div class="col-sm-4"><b> Employee No:</b></div>
          <div class="col-sm-8"><%= @employee.employee_number %></div>
          </div>

          <br>
          
          <div class="form-group">
          <div class="col-sm-4"><b> Role:</b></div>
          <div class="col-sm-8"><%= @user.role %></div>
          </div>
          
          <br>
          
          <div class="form-group">
          <div class="col-sm-4"><b> Email:</b></div>
          <div class="col-sm-8"><%= @employee.email %></div>
          </div>
          <br>
          
      </div>
 </div>
 </fieldset>
 </div>
 </div>
 </div>
 </div>



