<div class="row">
  <div class="col-md-12">
    <div class="pull-right">

      <% if @user.role.eql? "Student" %>
      <% unless @student.nil? %>
        <% if @student.status_description.nil? %>
          <%= link_to "View Profile",profile_student_path(@student), class: "btn btn-primary-link btn-xs" %>
        <% else %>
          <%= link_to "View Profile",archived_student_profile_student_path(@student.id), class: "btn btn-primary-link btn-xs"%>
        <%end%>
</div>
</div>
</div>