<div class="row">
      <div class="form-group">
          <b>Email Subject:</b>
          <%= text_field_tag :subject%>
      </div>

        <div class="form-group">
          <b>Email Body:</b>
          <%=text_area_tag :body%>
        </div>
</div>

