<div class="row">
  <div class="col-md-12">
    <div class="pull-center">
      <%= link_to 'Send Message','/bulk_messages/new',class: "btn btn-warning btn-lg btn-block btn-huge" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Send Email','/bulk_emails/new',class: "btn btn-warning btn-lg btn-block" %>
    </div>
  </div>
</div>