<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well"></div>
<br/>   
<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="row">
          <div class="col-xs-4">
             <span style="font-size:35px;" class="glyphicon glyphicon-star" ></span>
          </div>
         <div class="col-xs-9 text-right">
        <div class="huge"><%=BulkMessage.all.count%></div>
       <div>Student Message!</div>
      </div>
     </div>
    </div>
    <a href="/bulk_messages">
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <div class="clearfix"></div>
            </div>
    </a>
     </div>
  </div>
  <div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="row">
          <div class="col-xs-4">
             <span style="font-size:35px;" class="glyphicon glyphicon-star" ></span>
          </div>
         <div class="col-xs-9 text-right">
        <div class="huge"><%=BulkMessageEmployee.all.count%></div>
       <div>Employee Message!</div>
      </div>
     </div>
    </div>
    <a href="/bulk_message_employees">
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <div class="clearfix"></div>
            </div>
    </a>
     </div>
  </div>
</div>
</div>
<br/>

<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="row">
          <div class="col-xs-4">
             <span style="font-size:35px;" class="glyphicon glyphicon-star" ></span>
          </div>
         <div class="col-xs-9 text-right">
        <div class="huge"><%=BulkEmail.all.count%></div>
       <div>Email Students!</div>
      </div>
     </div>
    </div>
    <a href="/bulk_emails">
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <div class="clearfix"></div>
            </div>
    </a>
     </div>
  </div>
</div>
</div>
<br/>