 <%unless @employees.nil?%>
  <% @employees.each do |b|%>
    <div>
    <br>
    <%= check_box_tag "employee_ids[]", b.id,false,class: 'check_box'%>&nbsp;&nbsp;<b><%= b.first_name+"-"+b.last_name%></b>
    </div>
  <%end%>
<%end%>
</div>